<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Config file -->
  <arg name="config_file"             default="$(find white_balancer)/config/config.yaml"/>

  <!-- Node name -->
  <arg name="node_name"               default="white_balancer_test"/>

  <node name="$(arg node_name)" pkg="white_balancer" type="wb_node.py" output="screen" respawn="true">
    <!--
    <rosparam command="load" file="$(arg config_file)"/>
  -->
  </node>

</launch>
