<?xml version="1.0"?>
<launch>
  <arg name="initial_artifact_store_folder" default="$(find artifact_manager_node)/share/example-artifact-store" />
  <arg name="backup_artifact_store_folder" default="$(find artifact_manager_node)/share/example-artifact-store-bkp" />
	<arg name="artifact_store_backup_interval_s" default="20" />

  <!-- Sensor frame in which the local coordinates of the artifact are
      expressed in. Can either be NCAMERA, IMU or LIDAR. -->
  <arg name="artifact_refinement_sensor_frame" default="NCAMERA" />
  <arg name="artifact_refinement_check_interval_s" default="10" />

  <!-- Visualization -->
  <arg name="artifact_vis_world_frame_name" default="darpa" />
  <arg name="artifact_vis_marker_scale" default="0.3" />
  <arg name="artifact_vis_text_marker_scale" default="0.3" />
  <arg name="artifact_vis_arrow_marker_scale" default="0.05" />
  <arg name="artifact_vis_marker_alpha" default="0.5" />

  <!-- Robot aliases -->
  <arg name="robot_alias_config_file" default="$(find artifact_manager_node)/share/robot_aliases.yaml" />

  <!-- ROS Settings -->
  <arg name="artifact_ros_reporting_pub_topic" default="artifact_reporting" />
  <arg name="artifact_ros_visualization_pub_topic" default="artifact_visualization" />
  <arg name="artifact_ros_visualization_img_pub_topic" default="artifact_img_visualization" />
  <arg name="artifact_ros_new_artifacts_sub_topic" default="confirmed_artifacts" />
  <arg name="artifact_ros_reporting_all_refined_service_topic" default="report_all_refined_artifacts" />
  <arg name="artifact_ros_reporting_all_raw_service_topic" default="report_all_raw_artifacts" />
  <arg name="artifact_ros_reporting_one_refined_service_topic" default="report_one_refined_artifacts" />
  <arg name="artifact_ros_reporting_one_raw_service_topic" default="report_one_raw_artifacts" />
  <arg name="artifact_ros_deleting_one_service_topic" default="delete_one_artifact" />
  <arg name="artifact_ros_show_one_service_topic" default="show_one_artifact" />
  <arg name="artifact_ros_map_lookup_service_topic" default="/maplab_server/map_lookup" />

  <arg name="artifact_ros_queue_size" default="100" />

  <arg name="artifact_vis_print_artifacts_to_console" default="true" />
  <arg name="artifact_vis_show_all_artifacts_in_summary_img" default="true" />

  <arg name="artifact_ros_open_rqt" default="true" />
  <group if="$(arg artifact_ros_open_rqt)">
    <node name="artifact_rqt" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find artifact_manager_node)/share/artifact_rqt.perspective" output="screen" clear_params="true"/>
  </group>

	<node name="artifact_manager_node" pkg="artifact_manager_node" type="artifact_manager_node" output="screen" clear_params="true" respawn="true">
    <rosparam command="load" file="$(arg robot_alias_config_file)"/>

		<param name="initial_artifact_store_folder" value="$(arg initial_artifact_store_folder)"/>
    <param name="backup_artifact_store_folder" value="$(arg backup_artifact_store_folder)"/>
		<param name="artifact_store_backup_interval_s" value="$(arg artifact_store_backup_interval_s)"/>

    <param name="artifact_refinement_check_interval_s" value="$(arg artifact_refinement_check_interval_s)"/>
    <param name="artifact_refinement_sensor_frame" value="$(arg artifact_refinement_sensor_frame)"/>

    <param name="artifact_vis_world_frame_name" value="$(arg artifact_vis_world_frame_name)" />
    <param name="artifact_vis_marker_scale" value="$(arg artifact_vis_marker_scale)" />
    <param name="artifact_vis_text_marker_scale" value="$(arg artifact_vis_text_marker_scale)" />
    <param name="artifact_vis_arrow_marker_scale" value="$(arg artifact_vis_arrow_marker_scale)" />

    <param name="artifact_vis_marker_alpha" value="$(arg artifact_vis_marker_alpha)" />

    <param name="artifact_ros_reporting_pub_topic" value="$(arg artifact_ros_reporting_pub_topic)" />
    <param name="artifact_ros_visualization_pub_topic" value="$(arg artifact_ros_visualization_pub_topic)" />
    <param name="artifact_ros_visualization_img_pub_topic" value="$(arg artifact_ros_visualization_img_pub_topic)" />
    <param name="artifact_ros_new_artifacts_sub_topic" value="$(arg artifact_ros_new_artifacts_sub_topic)" />
    <param name="artifact_ros_reporting_all_refined_service_topic" value="$(arg artifact_ros_reporting_all_refined_service_topic)" />
    <param name="artifact_ros_reporting_all_raw_service_topic" value="$(arg artifact_ros_reporting_all_raw_service_topic)" />
    <param name="artifact_ros_reporting_one_refined_service_topic" value="$(arg artifact_ros_reporting_one_refined_service_topic)" />
    <param name="artifact_ros_reporting_one_raw_service_topic" value="$(arg artifact_ros_reporting_one_raw_service_topic)" />
    <param name="artifact_ros_deleting_one_service_topic" value="$(arg artifact_ros_deleting_one_service_topic)" />
    <param name="artifact_ros_show_one_service_topic" value="$(arg artifact_ros_show_one_service_topic)" />
    <param name="artifact_ros_map_lookup_service_topic" value="$(arg artifact_ros_map_lookup_service_topic)" />

    <param name="artifact_ros_queue_size" value="$(arg artifact_ros_queue_size)" />

    <param name="artifact_vis_print_artifacts_to_console" value="$(arg artifact_vis_print_artifacts_to_console)" />
    <param name="artifact_vis_show_all_artifacts_in_summary_img" value="$(arg artifact_vis_show_all_artifacts_in_summary_img)" />
	</node>
</launch>
