<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/use_sim_time" value="false" />

  <!-- Config file -->
  <arg name="config_file"             default="$(find maplab_profiles)/config/profiler_config_local.yaml"/>

  <!-- Node name -->
  <arg name="node_name"               default="maplab_profiles"/>

  <node name="$(arg node_name)" pkg="maplab_profiles" type="profiler_node.py" output="screen" respawn="false">
    <rosparam command="load" file="$(arg config_file)"/>
  </node>
</launch>
